body{
    font-family: 'Orbitron', sans-serif;
}




section{
    border: .2em solid #000;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 7em;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #555;

}

section > h1{
    text-align: center;
    margin-bottom: 1em;
}



section >figure{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
section > p{
    width: 76%;
    font-family: 'Orbitron';
    border: .12em solid #000;
    background-color: #ccc;
    padding: .5em;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    margin-top: 1em;
}
img{
    width: 100%;
    height: auto;
}


footer{
    
    width: 100%;
    margin-top: 20em;
    margin-bottom: 0;
    padding-left: 2em;
    background-color: #000;
    color: #fff;
}

footer > span{
    position: absolute;
    right: 2em;

}

#box{
    position: absolute;
    top: 7em;
    background-color: #333;
    width: 100%;
    z-index: 0;

}

section > .imgBox{
     margin-top: 1em;
    display: flex;
    flex-direction: row;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-evenly;
}

.imgBox > img{
    width: 30%;
    height: auto;
	max-height: 13em;
}

.imgBox > img:hover{
    transform: scale(1.5);
}

section > button{
    width: 15%;
    margin-top: 1em;
    margin-left: 42.5%;
    margin-right: 42.5%;
    font-size: 1.2em;
}