body{
    font-family: 'Orbitron', sans-serif;
}

#wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#nav{
    flex: 1;
    background-color: #000000;
    border: .3em solid #ff0000;
    margin-top: 7em;
    margin-left: .5em;
    margin-right: .5em;

}

#nav > div{
    background-color: #000000;
    color: #ffffff;
    height: 6em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;

}

#nav > div:hover{
    background-color: #cf4c4c;
}
#policy{
    flex: 1;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 7em;
}

/* table */
#grid{

    flex:2;
    min-height: 20em;
    border: .3em solid #000000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;

}

/* table header */
#grid th{
    padding: 1em;
    background-color: #ff0000;
    font-size: 1.7em;
}


/* console selections from table  */
#grid td{
    border: .3em solid #000000;
    width: 50%;
}

#grid td:hover{
  cursor: pointer;
}


/* images of consoles within the table  */
#grid img{
    max-width: 60%;
    height: 15em;
    margin-left: 20%;
}


/* shopping window  */
#shopWindow{
    flex: 2;
    margin-top: 7em;
}


#shopWindow figure{
  height: 80%;
  
}

/*individual game box */
#shopWindow img{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 55%;
}

    /* game name text  */
#shopWindow figcaption{
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

    /* shop container  */
.shopWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

    /* box for each game being solid  */
.gameBox{
    padding: 0;
    margin: 0;
    width: 33%;
    height: 24.7em;
    border-bottom: 2px solid #555;
}

.gameBox:nth-child(2){
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    
}

.gameBox button{
    width: 30%;
    margin-left: 35%;
    margin-top: 1em;
    margin-bottom: 0;
}






footer{
    
    width: 100%;
    margin-bottom: 0;
    margin-top: 20em;
    padding-left: 2em;
    background-color: #000;
    color: #fff;
}

footer > span{
    position: absolute;
    right: 2em;

}


#policy{
    font-size: 1.5em;
    align-self: flex-start;
    padding: .5em;
    margin-top: 4.65em;
    border: .2em solid #000;
    height: 24.7em;
}

.gameBox > figure:hover{

    cursor: pointer;
    background-color: #e0e0e0;

}


